@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);

*{margin: 0px; padding: 0px}

.App {
  padding: 15px;
}

.Navigator {
  margin-bottom: 15px;
}

body{
  background:#2c3e50;
  font-family: 'Open Sans', sans-serif;
}

h1, button{
  color:#2ecc71;
  text-align: center;
  padding: 20px;
}

p{
  color:#fff;
  text-align: center;
  padding-top: 500px;
  font-size: 10px;
}

a{
   text-decoration:none;
   color:#fff;
}

a:hover{
   color:#2ecc71;
}

.main{
  width: 100%;
}

.sub-main{
  width: 30%;
  margin:22px;
  float: left;
}

.button{
  text-align: center;
  cursor: pointer;
  font-size:24px;
  margin: 0 0 0 100px;
}

.button {
    position: relative;
    background-color: #fff;
    border: none;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.button:hover{
   background:#f1c40f;
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#000;
}

.button:after {
    content: "";
    background: #fff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}